@{
    ViewData["Title"] = "Адмін Панель";
}

<h1 class="text-center">Адмін Панель</h1>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <a href="/User/Index" class="btn btn-primary btn-block">Користувачі</a>
        </div>
        <div class="col-md-4">
            <a href="/Course/Index" class="btn btn-secondary btn-block">Курси</a>
        </div>
        <div class="col-md-4">
            <a href="/Reports/Index" class="btn btn-success btn-block">Звіти</a>
        </div>
    </div>
</div>