@{
    ViewData["Title"] = "Панель Студента";
}

<h1 class="text-center">Панель Студента</h1>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <a href="/Course/Index" class="btn btn-primary btn-block">Доступні курси</a>
        </div>
        <div class="col-md-6">
            <a href="/Assignments/MyAssignments" class="btn btn-secondary btn-block">Мої завдання</a>
        </div>
    </div>
</div>

<hr>
<p class="text-center">Вітаємо, студенте! Розпочніть навчання вже сьогодні.</p>