@{
    ViewData["Title"] = "Підтвердження реєстрації";
}

<div class="text-center">
    <h1 class="display-4">Реєстрація успішна!</h1>
    <p>Дякуємо за реєстрацію. Тепер ви можете <a href="/Auth/Login">увійти</a> у свій акаунт.</p>
</div>